.Especialidades{
    height: 20vh;
      padding: 10px;
}

.cuadro1 img{
      
      height: 100px;
      width: 200px;
}

.contenedor2{
   display: flex;         
    padding: 50px;
}


.contenedor2 img{
  height: 20vh;
  
}

.cuadro2 {
        width: 50%;             
      background-color: #90E0EF;
      text-align: center;
    }
    

.cuadro3{
        width: 50%;             
      background-color: pink;
      text-align: center;
        
    }

   .contenedor-postre {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #FDCAD3;
}

div.contenedor-postre{
  background-color: #8CD6ED;
}

.texto-postre {
    text-align: center;
}

.imagen-postre{
  text-align: right;
}
.imagen-postre img {
    height: 40vh;
}

    footer{
    background-color:#320000;
    text-align: center;
    color: white;
    padding: 50px;   
} 

@media (max-width: 768px){

  .Especialidades{
      height: auto;
      padding: 20px;
      text-align: center;
  }

  .cuadro1 img{
      width: 100%;
      height: auto;
      max-width: 250px;
  }

  .contenedor2{
      flex-direction: column;
      padding: 20px;
      gap: 20px;
  }

  .contenedor2 img{
      height: auto;
      width: 100%;
      max-height: 200px;
      object-fit: contain;
  }

  .cuadro2, 
  .cuadro3{
      width: 100%;
      padding: 20px;
  }

  .contenedor-postre{
      flex-direction: column;
      text-align: center;
  }

  .imagen-postre{
      text-align: center;
  }

  .imagen-postre img{
      width: 100%;
      height: auto;
      max-width: 300px;
  }

  footer{
      padding: 30px;
      font-size: 14px;
  }
}


